.main__inner {
    max-width: 56rem;
    padding-left: 43px;
    padding-top: 46px;

    @media screen and (min-width: $breakpoint_l) and (max-width: $breakpoint_xl) {
        padding-top: 50px;
        padding-left: 44px;
    }

    @media screen and (min-width: $breakpoint_m) and (max-width: $breakpoint_l) {
        padding-left: 0px;
        padding-top: 31px;
    }

    @media screen and (max-width: $breakpoint_m) {
        padding-left: 0px;
        padding-top: 20px;
    }

}

.main__img {
    position: relative;
    max-width: 100%;
    min-height: 445px;
    background: url(../img/baner0.webp);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: $breakpoint_m) {
        min-height: 353px;
    }

}

.header__block {
    padding-top: 285px;
}

.main__header {
    background: $white;
    color: $dark;

    margin-right: 39rem;
    padding: 12px 0px 12px 18px;

    font-style: italic;
    font-size: 1.375em;
    line-height: 22px;
    letter-spacing: 0.01em;

    @media screen and (min-width: $breakpoint_l) and (max-width: $breakpoint_xl) {
        margin-right: 27.5rem;
    }

    @media screen and (min-width: $breakpoint_m) and (max-width: $breakpoint_l) {
        margin-right: 27.75rem;
    }

    @media screen and (max-width: $breakpoint_m) {
        margin-right: 0px;
        opacity: 0.6;
    }
}

.main__subtitle {
    padding: 14px 29px 14px 24px;
    margin-right: 25.5rem;

    color: $white;
    background: $dark;

    font-style: italic;
    font-size: 0.875em;
    line-height: 14px;

    @media screen and (min-width: $breakpoint_l) and (max-width: $breakpoint_xl) {
        margin-right: 225px;
    }

    @media screen and (min-width: $breakpoint_m) and (max-width:$breakpoint_l) {
        margin-right: 231px;
        padding: 14px 23px 14px 24px;
    }

    @media screen and (max-width: $breakpoint_m) {
        margin-right: 0px;
    }

}

.prev,
.next {
    display: none;

    @media screen and (max-width: $breakpoint_m) {
        display: flex;
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -50px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 35px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.cards {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:$breakpoint_m) {
        display: none;
    }
}

.tabs {
    cursor: pointer;
    min-width: 224px;
    min-height: 85px;
    background-color: $light;

    &:hover {
        background-color: $light-active;
    }

    @media screen and (min-width: $breakpoint_m) and (max-width: $breakpoint_xl) {
        min-width: 178px;
        min-height: 35px;
    }
}

.tab__header {
    padding-left: 20px;
    padding-top: 26px;
    color: inherit;

    font-size: 1.125em;
    line-height: 18px;

    @media screen and (min-width: $breakpoint_m) and (max-width: $breakpoint_xl) {
        padding: 10px;
        text-align: center;
        font-size: 0.875em;
        line-height: 14px;
    }

}

.tab__description {
    padding-left: 20px;
    font-style: italic;
    font-size: 0.625em;
    line-height: 19px;

    @media screen and (min-width: $breakpoint_m) and (max-width: $breakpoint_xl) {
        display: none;
    }

}

.tab__active {
    background-color: #34aca7 !important;
    color: #ffffff !important;
}

.subscribe__box {
    margin: 30px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5;

    @media screen and (min-width: $breakpoint_l) and (max-width:$breakpoint_xl) {
        max-width: 712px;
        padding: 0px;
        margin: 18px 0px;
    }

    @media screen and (min-width: $breakpoint_m) and (max-width: $breakpoint_l) {
        max-width: 712px;
        padding: 0px;
        margin: 21px 0px;
    }

    @media screen and (min-width: $breakpoint_s) and (max-width: $breakpoint_m) {
        margin: 39px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        padding: 8px 0px 16px 0px;
    }

    @media screen and (max-width: $breakpoint_xs) {
        margin-top: 39px;
        display: flex;
        flex-wrap: wrap;
        min-width: 479px;
    }
}

.subscribe__line {
    display: flex;

    &--second {

        @media screen and (max-width: $breakpoint_m) {
            padding-top: 16px;
        }

    }
}

.subscribe__img {
    padding: 0px 16px 0px 18px;

}

.subscribe__text {
    max-width: 530px;

    color: $dark;

    font-style: italic;
    font-size: 0.875em;
    line-height: 16px;

    @media screen and (min-width: $breakpoint_l) and (max-width: $breakpoint_xl) {
        padding: 7px 0px 19px 0px;
    }

    @media screen and (min-width: $breakpoint_m) and (max-width: $breakpoint_l) {
        padding-top: 8px;
        padding-bottom: 19px;
    }

    @media screen and (min-width: $breakpoint_s) and (max-width: $breakpoint_m) {
        max-width: 474px;
    }

    @media screen and (max-width: $breakpoint_xs) {
        padding-top: 8px;
        max-width: 366px;
    }

}

.input__email {
    margin: 0px 18px 0px 8px;
    padding: 6px;
    min-width: 160px;
    max-height: 23px;

    border: 1px solid #E5E5E5;

    color: $smokie;
    font-size: 0.625em;
    line-height: 10px;

    @media screen and (min-width: $breakpoint_s) and (max-width: $breakpoint_m) {
        min-width: 394px;
    }

    @media screen and (max-width: $breakpoint_xs) {
        min-width: 312px;
    }

}

.subscribe__button {
    min-width: 80px;
    min-height: 23px;

    cursor: pointer;

    border-radius: 2px;
    border: 1px solid #E5E5E5;

    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);

    font-size: 0.625em;
    line-height: 10px;
    text-align: center;
}

.picture__cards {
    padding-bottom: 26px;

    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $breakpoint_l) and (max-width: $breakpoint_xl) {
        max-width: 712px;
        padding-bottom: 41px;
    }

    @media screen and (min-width: $breakpoint_m) and (max-width: $breakpoint_l) {
        max-width: 712px;
        padding-bottom: 71px;
    }

    @media screen and (min-width: $breakpoint_s) and (max-width:$breakpoint_m) {
        flex-wrap: wrap;
        padding-top: 27px;
        padding-bottom: 39px;
    }

    @media screen and (max-width: $breakpoint_xs) {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 27px;
        padding-bottom: 20px;
    }

}

.picture__tabs {
    padding-right: 20px;

    &:last-child {
        padding-right: 0px;
    }

    @media screen and (min-width: $breakpoint_m) and (max-width: $breakpoint_xl) {
        padding-right: 25px;
    }

    @media screen and (min-width:$breakpoint_s) and (max-width: $breakpoint_m) {
        max-width: 256px;
        padding-right: 0px;
        padding-bottom: 14px;
    }

    @media screen and (max-width:$breakpoint_xs) {
        max-width: 375px;
        padding-right: 0px;
        padding-bottom: 14px;
    }
}

.picture__img {
    max-width: 187px;
    padding: 10px;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: $breakpoint_m) and (max-width: $breakpoint_xl) {
        max-width: 139px;
        padding: 9px;
    }

    @media screen and (min-width: $breakpoint_s) and (max-width: $breakpoint_m) {
        min-width: 236px;
        padding: 8px;
    }

    @media screen and (max-width: $breakpoint_xs) {
        min-width: 357px;
        padding: 8px;
    }
}

.picture__header {
    font-size: 1em;
    line-height: 21px;
    letter-spacing: -0.02em;

    @media screen and (max-width: $breakpoint_xs) {
        font-size: 1.375em;
    }
}

.picture__text {
    padding-top: 9px;

    color: $dark;

    font-size: 0.875em;
    line-height: 20px;
    letter-spacing: -0.02em;

    @media screen and (max-width: $breakpoint_xs) {
        font-size: 1.125em;
    }
}

.picture__date {
    padding-top: 11px;

    color: $smokie;

    font-size: 0.875em;
    line-height: 20px;
    letter-spacing: -0.02em;

    &--green {
        cursor: pointer;
        color: $primary;
    }

    @media screen and (max-width: $breakpoint_xs) {
        font-size: 1em;
        padding-top: 29px;
    }
}

.slider {
    position: relative;
}

@keyframes animate {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}