/*Colors*/

$white:#ffffff;
$light:#eff8f7;
$light-active:#d9efec;
$primary:#34aca7;
$dark:#000000;
$smokie:#e5e5e5;

/*Adaptive*/

$breakpoint_xl: 1176px;
$breakpoint_l: 992px;
$breakpoint_m: 768px;
$breakpoint_s: 480px;
$breakpoint_xs: 479px;